.bio-image-frame{
    border: 40px solid #2f2f2f;
    border-bottom: 40px solid #292929; 
    border-top: 40px solid #292929;
    box-shadow: 4px 4px 5px inset;
    padding-right: 80px;
}
.bio-display{
    width: 80%;
    margin: auto;
    padding: 0 20px 0 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
}
.bio-display img{
    box-sizing: border-box;
    margin: 40px;
    border: 5px solid #ccc; 
    border-bottom: 5px solid #f9f9f9; 
    border-right: 5px solid #f9f9f9;
    max-width: 100%;
    display: block;
}
.bio-display h1{
    text-align: center;
}