.navbar{
    display: flex;
    padding: 20px;
}
.navbar button{
    padding: 5px; 
}
.navbar-item{
    margin: auto;
}
.navbar-menu-item{
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}