*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
::before,
::after{
  box-sizing: inherit;
}
html{
  background-color: white;
}
button{
  border: none;
  background-color: white;
}
button:hover{
  color: gray;
}
@media (min-width: 1025px){

}
@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
@media (min-width: 481px) and (max-width: 767px){
  .navbar-item{
    flex-direction: column;
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .navbar-item{
    flex-direction: column;
    display: none;
  }
}